/* @theme test */

@import 'default';

section {
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 32px;
    padding: 40px;
    color: black;
}

section.title h1 {
    color: black;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 100px;
    text-align: center;
}

section.title {
    color: rgb(60, 60, 60);
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 30px;
    text-align: center;
    padding: 40px;
}
section.index h1 {
    color: black;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 100px;
    text-align: center;
}

section.index {
    color: rgb(60, 60, 60);
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

section.slides h1 {
    background: linear-gradient( to left,  rgba(69,179,224,1) 25%, rgb(97, 109, 218) 75% );
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 42px;
    position: absolute;
    left: 50px; top: 0px;
}

section.slides h2 {
    font-size: 32px;
    color: #4ac;
    position: absolute;
    left: 50px; top: 90px;
}

header{
    padding-bottom: 10px;
    border-bottom: solid 2px blue;
}

footer{
    margin: auto 0 0 auto;
    /* text-align: right; */
}

/* Add "Page" prefix and total page number */
section::after {
    content: 'Page ' attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
    color:black;
  }
  
